@use '../../../index.scss' as i;

.Router {
    box-sizing: border-box;
    height: 100vh;
    background-color: i.$fourth_color;
    // border-bottom: 1px solid i.$first_color;
    height: fit-content;
    min-height: 100vh;
}