@use '../../../index.scss' as i;

.ProjectsSection {
    margin: 50px 0;
    padding: 0 50px;

    .projectsHeader {
        text-align: right;
        width: fit-content;
        background: white;
        background-color: i.$third_color;
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
        transition: all .4s ease;

        &.visible {
            animation: projectsAnim 2s ease 0s 1 normal forwards;
        }
    }

    .projectsCardContainer {
        display: flex;
        gap: 25px;
    }

    @keyframes projectsAnim {
        0% {
            opacity: 0;
            transform: translateX(250px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}