@use '../../../index.scss' as i;

.AboutUs {
    h1 {
        background-color: i.$first_color;
        color: i.$fourth_color;
        padding: 12px 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }


    .aboutUSHeaderContainer {
        padding: 50px 30px 10px 50px;
        background-image: url('../../../Assets/Images/bg1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        img {
            height: 50vh;
            width: 100%;
            position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        h2 {
            margin: 0;
            padding: 30px;
            width: fit-content;
            font-size: 2rem;
            background-color: i.$fourth_color;
            color: i.$first_color;
            text-align: right;
            position: absolute;
            top: 300px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px 0px 0px 10px;
        }
    }

    .aboutUsParagraphContainer {
        font-family: 'Arial', sans-serif;
        background-color: i.$third_color;
        padding: 20px;
        border-radius: 10px;
        margin: 40px 150px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    .aboutUsParagraphContainer p {
        font-size: 24px;
        line-height: 1.4;
    }


    .gridContainer {
        background-color: i.$second_color;
        box-sizing: border-box;
        width: 100vw;
        padding: 0vw 10vw 40px 10vw;
        display: grid;
        margin: auto;
        margin-top: 40px;
        grid-template-columns: 50% 50%;
        // border: 2px solid i.$first_color;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        img {
            width: 100%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        p {
            background-color: transparent;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 80px;
            font-size: 1.5rem;
        }
    }

    .parallax {
        margin: 0px 0px 40px 0px;
        height: 50vh;
        background-image: url('../../../Assets/Images/logs.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .recommendationContainer {
        display: flex;
        justify-content: space-around;
        margin: 50px 0px;
    }

    .contactUsFrom {
        .ContactUsForm {
            margin: 60px auto;
        }
    }
}