@use '../../../index.scss' as i;

.Navbar {
    height: 100vh;
    border: 1px solid;
    background-color: i.$second_color;
}

ul {
    list-style: none;
    padding: 20px 0;
}

li {
    padding: 10px;
}