@use '../../../index.scss' as i;

.AboutUsSection {
    margin: 25px 0;

    h1 {
        margin: 0;
        font-weight: normal;
    }

    .homeAboutContainer {
        display: flex;
        flex-direction: column;
        margin: 0px 200px 25px 200px;
        border: 1px solid;
        border-radius: 150px;
        padding: 50px;
        box-shadow: i.$second_color 0px 2px 4px 0px, i.$third_color 0px 2px 16px 0px;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:hover {
            border-color: i.$first_color;
            box-shadow: i.$second_color 0px 5px 15px 0px, i.$third_color 0px 5px 15px 0px;
        }
    }
    .qualityCardContainer {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}
