@use '../../../index.scss' as i;

.AboutUsSection {
    margin: 20px 10vh;

    .homeAboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vh 20vh;

        &.visible {
            animation: aboutHeaderAnim 2s ease 0s 1 normal forwards;
        }
    }

    .qualityCardContainer {
        height: 60vh;
        background-image: url("../../../Assets/Images/bg2.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 10vh;
        margin: 0 0 30vh 0;
    }

    @keyframes aboutHeaderAnim {
        0% {
            opacity: 0;
            transform: rotateX(70deg);
            transform-origin: right;
        }

        100% {
            opacity: 1;
            transform: rotateX(0);
            transform-origin: right;
        }
    }
}