@use '../../../../index.scss' as i;

.QualityCard {

    .qualityCard {
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        width: 250px;
        height: 150px;
        padding: 20px;
        background-color: i.$third_color;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        animation: cardAnim 2s ease 0s infinite normal forwards;
        ;

        img {
            box-sizing: border-box;
            width: 30px;
            height: 30px;
        }

        h3,
        p {
            margin: 0;
        }

        &:hover {
            transform: scale(1.05);
            background-color: darken(i.$third_color, 10%);
        }
    }

    @keyframes cardAnim {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translate(2px, -2px);
        }

        40% {
            transform: translate(2px, 2px);
        }

        60% {
            transform: translate(-2px, 2px);
        }

        80% {
            transform: translate(-2px, -2px);
        }

        100% {
            transform: translate(0);
        }
    }

}