@use '../../index.scss' as i;

.Home {
    // padding: 15px;
    
    img{
        width: 100vw;
        height: 100vh;
    }
    .carousel-container{
        ul{
            li{
                width: 100vw !important;
            }
        }
    }
    h1 {
        margin: 0;
        font-weight: normal;
    }

    .homeAboutContainer {
        display: flex;
        flex-direction: column;
        margin: 25px 200px;
        border: 1px solid;
        border-radius: 150px;
        padding: 50px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
        .qualityCardContainer {
            display: flex;
            margin: 0 200px;
            justify-content: center;
            gap: 100px;

            .qualityCard {
                border: 1px solid;
                border-radius: 100px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                width: 250px;
                height: 150px;
                padding: 20px;
                background-color: i.$third_color;

                h3,
                p {
                    margin: 0;
                }
            }
        }
    }