.RecommendationsSection {

    .parallax {
        background-image: url('../../../Assets/Images/carpenter4.png');
        padding: 15vh 0;
        background-color: opacity($color: #000000);

        .recommendationsCardContainer {
            margin: 20px 10vh;
            display: flex;
            justify-content: space-between;
        }
    }

    &.visible {
        animation: recAnim 3.2s ease 0s 1 normal forwards;
    }

    @keyframes recAnim {
        0% {
            opacity: 0;
            transform: translateX(-250px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}