.Articles {
    .articles-content {
        width: 100%;
        display: flex;
        align-items: center;

        .row-content {
            margin: 20px 10vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &.visible {
        animation: articlesAnim 4s ease 0s 1 normal forwards;
    }

    @keyframes articlesAnim {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}