@use '../../../index.scss' as i;

.QualityCard {
    .qualityCard {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 20vh;
        padding: 30px 40px;
        width: 170px;
        height: 220px;
        box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
        background-color: i.$third_color;
        background-color: 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;

        img {
            box-sizing: border-box;
            width: 45px;
            height: 45px;
        }

        h3,
        p {
            margin: 0;
        }

        &:hover {
            transform: translateY(20px);
        }
    }

    &.visible {
        animation: cardAnim 2s ease 0s 1 normal forwards;
    }

    @keyframes cardAnim {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: translateY(-250px);
        }

        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateY(0);
        }

        55% {
            animation-timing-function: ease-in;
            transform: translateY(-68px);
        }

        72% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }

        81% {
            animation-timing-function: ease-in;
            transform: translateY(-28px);
        }

        90% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }

        95% {
            animation-timing-function: ease-in;
            transform: translateY(-8px);
        }

        100% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    }
}