.GalleryMaterials {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .react-multi-carousel-list {
        width: 100%;
    }

    .react-multiple-carousel__arrow--left,
    .react-multiple-carousel__arrow--right {
        display: none;
    }

}