.Carousel {
    img {
        width: 100vw;
        height: 100vh;
    }

    .react-multiple-carousel__arrow {
        z-index: 0;
    }

    .carousel-container {
        ul {
            li {
                width: 100vw !important;
            }
        }
    }
}
